@model Int16
<div class="counter col_fourth">
    <i class="fa fa-lightbulb-o fa-2x"></i>
    <h2 id="desiredNumber" class="timer count-text-time count-number" data-to="0" data-speed="1500"></h2>
    <p class="count-text "> Yeni istek Sayısı</p>
</div>